version: "3.3"

services:
  influxdb:
    image: influxdb:2.8
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - /volume1/docker/influxdb/data:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: yourpassword
      DOCKER_INFLUXDB_INIT_ORG: szlab
      DOCKER_INFLUXDB_INIT_BUCKET: esp32
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
    restart: unless-stopped

  # This helper service creates the second bucket
  setup-bucket:
    image: influxdb:latest
    depends_on:
      - influxdb
    entrypoint: ["/bin/sh", "-c"]
    command: 
      - |
        sleep 5;
        influx bucket create -n esp32logs -r 72h -o szlab -t ${INFLUXDB_TOKEN} --host http://influxdb:8086
    restart: "no"

  grafana:
      image: grafana/grafana:10.0.3
      user: "0"
      container_name: grafana
      ports:
        - "3000:3000"
      volumes:
        - /volume1/git/esp32-projects/Temperature/Docker/provisioning:/etc/grafana/provisioning
        - /volume1/docker/grafana:/var/lib/grafana
      environment:
        GF_SECURITY_ADMIN_PASSWORD: yourgrafanapassword
        INFLUXDB_TOKEN: ${INFLUXDB_TOKEN}
        
        # --- Anonymous Access Settings ---
        GF_AUTH_ANONYMOUS_ENABLED: "true"
        GF_AUTH_ANONYMOUS_ORG_NAME: "szlab"
        GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
        GF_AUTH_ANONYMOUS_SKIP_LOGIN_PAGE: "true"
        
        # --- The Magic Link ---
        # This points to the JSON file INSIDE the container
        GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /etc/grafana/provisioning/dashboards/lakas-dashboard.json
        
      restart: unless-stopped
