version: "3.3"

services:
  influxdb:
    image: influxdb:2.8
    env_file:
      - secret.env
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - /volume1/docker/influxdb/data:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: yourpassword
      DOCKER_INFLUXDB_INIT_ORG: szlab
      DOCKER_INFLUXDB_INIT_BUCKET: esp32
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
    restart: unless-stopped

  influxdb-init:
    image: curlimages/curl:8.5.0
    depends_on:
      - influxdb
    environment:
      INFLUXDB_TOKEN: ${INFLUXDB_TOKEN}
    entrypoint: >
      sh -c "
      until curl -sf http://influxdb:8086/health; do sleep 2; done;

      curl -s -X POST http://influxdb:8086/api/v2/buckets \
        -H \"Authorization: Token $${INFLUXDB_TOKEN}\" \
        -H 'Content-Type: application/json' \
        --data '{
          \"org\": \"szlab\",
          \"name\": \"esp32logs\"
        }';
      "

  grafana:
    image: grafana/grafana:10.0.3
    env_file:
      - secret.env
    user: "0"
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - /volume1/git/esp32-projects/Docker/provisioning:/etc/grafana/provisioning
      - /volume1/docker/grafana:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_PASSWORD: yourgrafanapassword
      INFLUXDB_TOKEN: ${INFLUXDB_TOKEN}
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
      GF_AUTH_ANONYMOUS_SKIP_LOGIN_PAGE: "true"
    restart: unless-stopped
